---
layout: wrapper
---

<div class="post-view">
  <div class="summary">

    {% if page['main-image'] %}
      <img
        src="{{ page['main-image'] | relative_url }}"
        alt="{{ page.title }} image"
        class="main-image"
      />
    {% endif %}

    <div class="title-header">
      <h1>{{ page.title }}</h1>
    </div>

    <div class="project-description">
      <h2>Project Overview</h2>
      <p>{{ page.description }}</p>
    </div>

    {% if page.paper %}
<p>
  <a href="{{ page.paper.url | relative_url }}" target="_blank" rel="noopener">
    {{ page.paper.title }} (PDF)
  </a>
</p>
{% endif %}

    
    <div class="skills-card">
      <h2>Skills Used</h2>
      <div class="skills-list">
        {% for skill in page.skills %}
          <span class="skill">{{ skill }}</span>
        {% endfor %}
      </div>
    </div>

  </div>

  <div class="content">
    {{ content }}
  </div>
</div>
